.blue {
  color: #398ce1;
}
.blue-bg {
  background-color: #398ce1;
}

.beige {
  color: #e3e4d8;
}
.beige-bg {
  background-color: #e3e4d8;
}

.bone {
  color: #f6f7f2;
}
.bone-bg {
  background-color: #f6f7f2;
}

.green {
  color: #3ead8a;
}
.green-bg {
  background-color: #3ead8a;
}

.dark-grey {
  color: #444;
}
.dark-grey-bg {
  background-color: #444;
}

.orange {
  color: #d5951a;
}
.orange-bg {
  background-color: #d5951a;
}

.purple {
  color: #4a2849;
}
.purple-bg {
  background-color: #4a2849;
}

.red {
  color: #cc2448;
}
.red-bg {
  background-color: #cc2448;
}

.white {
  color: #fff;
}
.white-bg {
  background-color: #fff;
}