
/**
 * TODO: minimize
 */

/*
 * Globals
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;

  background-color: #f4f4f4;
  background-image: url('../img/1280x720.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 768px) {

  body {
    background-image: url('../img/background.png');
  }

}

@media (min-width: 992px) {

  body {
    padding-top: 60px;
  }

}

html.js .no-js {
  display: none;
}

/*
 * Footer
 */

.footer {
  position: absolute;
  bottom: 0;

  height: 50px;
  width: 100%;
}

.footer  p {
  margin-top: 20px;
}
