// -----------------------------------------------------------------------------
// - Colors                                                                    -
// -----------------------------------------------------------------------------

// General
$background-color: #fff;

// Dashboard sidebar
$sidebar-background-color: #f5f5f5;
$sidebar-border-color: #eee;
$sidebar-link-focus-color: #fff;
$sidebar-link-focus-background-color: #428bca;
