// -----------------------------------------------------------------------------
// - Mixins                                                                    -
// -----------------------------------------------------------------------------

@mixin border($facing: false, $width: 1px, $style: solid, $color: #ddd) {
  @if $facing != false {
    border-#{$facing}-width: $width;
    border-#{$facing}-style: $style;
    border-#{$facing}-color: $color;
  } @else {
    border-width: $width;
    border-style: $style;
    border-color: $color;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin margin($top: false, $right: false, $bottom: false, $left: false) {
  @if $top != false {
    margin-top: $top;
  }
  @if $right != false {
    margin-right: $right;
  }
  @if $bottom != false {
    margin-bottom: $bottom;
  }
  @if $left != false {
    margin-left: $left;
  }
}

@mixin padding($top: false, $right: false, $bottom: false, $left: false) {
  @if $top != false {
    padding-top: $top;
  }
  @if $right != false {
    padding-right: $right;
  }
  @if $bottom != false {
    padding-bottom: $bottom;
  }
  @if $left != false {
    padding-left: $left;
  }
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
       -o-transition: $transitions;
          transition: $transitions;
}
