// -----------------------------------------------------------------------------
// - SouD.se style, by SouD.                                                   -
// -----------------------------------------------------------------------------

// Project variables
$version: "0.0.1";
$author: "SouD";
$since: "2014-11-26";

/**
 * SouD.se style v#{$version} by #{$author}.
 *
 * @author #{$author}
 * @version #{$version}
 * @since #{$since}
 */

// -----------------------------------------------------------------------------
// - Import partials                                                           -
// -----------------------------------------------------------------------------

@import 'variables', 'colors';

// -----------------------------------------------------------------------------
// - Globals                                                                   -
// -----------------------------------------------------------------------------

body {
  margin-bottom: $footer-height;

  background-color: $background-color;
}

// -----------------------------------------------------------------------------
// - Auth                                                                      -
// -----------------------------------------------------------------------------

@import 'auth';
