
/**
 * TODO: Minimize
 */

/*
 * Globals
 */

body {
  padding-top: 20px;
}

@media (min-width: 768px) {

  body {
    padding-top: 60px;
  }

}

/*
 * Project
 */

.project {
  margin-top: 0;
  margin-bottom: 20px;

  background-color: rgba(255,255,255,.25);
  border-color: rgba(255,255,255,0);
  border-radius: 0;
  box-shadow: none;
}

.project-description {
  margin-top: 20px;
}

.project-name {
  margin-top: 0;
}

/*
 * Pagination
 */

.pagination {
  margin-top: 0;

  background-color: rgba(255,255,255,.25);
  border-radius: 0;
  border-color: rgba(255,255,255,0);
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > li:first-child > span,
.pagination > li:first-child > a,
.pagination > li:last-child > span,
.pagination > li:last-child > a,
.pagination > li > span,
.pagination > li > a {
  background-color: rgba(255,255,255,.25);
  border-radius: 0;
  border-color: rgba(255,255,255,0);
}

.pagination > .active > span,
.pagination > .active > a {
  background-color: rgba(66,139,202,.25);
  border-radius: 0;
  border-color: rgba(255,255,255,0);
}
