// -----------------------------------------------------------------------------
// - Import partials                                                           -
// -----------------------------------------------------------------------------

@import '../variables', '../mixins', '../colors';

// -----------------------------------------------------------------------------
// - Sidebar                                                                    -
// -----------------------------------------------------------------------------

.sidebar {
  display: none;

  @media($mw: $sm) {
    position: fixed;
    top: $navbar-height + 1;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: block;
    @include padding(20px, 20px, 20px, 20px);
    overflow-x: hidden;
    overflow-y: auto;

    background-color: $sidebar-background-color;
    @include border(right, 1px, solid, $sidebar-border-color);
  }
}

.nav-sidebar {
  @include margin(false, -21px, 20px, -20px);

  & > li > a {
    @include padding(false, 20px, false, 20px);
  }

  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
    color: $sidebar-link-focus-color;
    background-color: $sidebar-link-focus-background-color;
  }
}
